.game-wrapper {
    display: flex;
    margin: 30px 0;
}

.grid-length {
    padding: 8px;
    height: 24px;
    border: 2px solid #6ddafb;
    font-size: 15px;
    width: 150px;
}

.board {
    width: 300px;
    display: inline-block;
    border: thin solid #61dafb;
    margin-bottom: 30px;
    box-sizing: content-box;
}

.time-travel {
    margin: 0 30px;
    width: 300px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    height: 100px;
    width: 100px;
    background: transparent;
    border: thin solid #61dafb;
    float: left;
    color: #ffffff;
    font-size: 40px;
}

.step {
    display: block;
    background: transparent;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 15px;
    margin: 5px 0;
    border: 2px solid #61dafb;
    width: 200px;
    cursor: pointer;
}

.step:hover {
    background: #61dafb;
    color: #282c34;
    font-weight: 400;
}

.step:first-child {
    margin-top: 0;
}

.start-input button {
    vertical-align: middle;
}

.start-input input {
    vertical-align: middle;
    width: 300px;
    margin-right: 10px;
}