.output {
    padding: 15px 0;
}

.index {
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.index.marker {
    border-color: #61dafb;
}