body {
    background-color: #282c34;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #ffffff;
}

.ant-input, .ant-input-lg, .ant-btn-primary.ant-btn-lg {
    color: #212121;
    font-size: 16px;
    font-weight: 300;
}

.ant-btn.ant-btn-secondary {
    background: #00000030;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    pointer-events: none;
    vertical-align: middle;
}

nav {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #c3c3c3;
    line-height: 58px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

nav a.selected, nav a:hover {
    color: #ffffff;
}

nav a.selected {
    border-color: #ffffff;
}

.App-header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #2e333b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
}

main {
    padding: 100px 30px;
}

.react {
    font-weight: 700;
}

.demo-wrapper {
    position: relative;
    margin: 30px 0;
    z-index: 9;
    margin-bottom: 150px;
}

.background-logo-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    max-width: 130vh;
    overflow: hidden;
}

.background-logo {
    position: relative;
    top: -20vh;
    height: 150vh;
    opacity: 0.2;
}


button.ant-btn-primary,
button.ant-btn-primary:focus,
button.ant-btn-primary:hover {
    color: #212121;
}

.ant-dropdown-menu {
    background: #2e333b;
    margin-top: 12px;
}

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: transparent
}
.ant-dropdown-menu-item-divider {
    background-color: rgba(27, 30, 35, 0.82);
}

.sign-in {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    outline: none;
}

.user-name {
    padding: 0 10px;
    display: inline-block;
}

.sign-in>.sign-in-text {
    padding: 0 10px;
}

.sign-in>.ant-avatar {
    background: rgba(204, 204, 204, 0.5);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}